<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Declaration Creator</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">

    
<style>
	body {
		padding-top: 50px;
	}
	.special {
		padding-top:50px;
	}

</style>
</head>
<body>
	<div class="container special">
		<div>
			<h2 class="h2">Liste des déclarations</h2>
		</div>
		<div>

			<table class="table-responsive table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Intitule</th>
						<th scope="col">Date</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody class="table-group-divider">
					<tr th:if="${declarations.empty}">
						<td colspan="3">Aucune déclaration en base de données</td>
					</tr>
					<tr th:each="declaration: ${declarations}">
						<th scope="row"><span th:text="${declaration.id}">Id</span></th>
						<td><span th:text="${declaration.intitule}"> Intitule
						</span></td>
						<td><span th:text="${declaration.date}"> Date </span></td>
						<td>
                            <a th:href="@{/viewDeclaration/{id}(id=${declaration.id})}"><button class="btn btn-info">Voir la déclaration</button></a>
                            <a th:href="@{/deleteDeclaration/{id}(id=${declaration.id})}"><button class="btn btn-danger">Supprimer</button></a>
                        </td>
					</tr>
					<tr>
						<td colspan="4"><a th:href="@{/createDeclaration/}">Créer une
								nouvelle déclaration</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>